# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm/

# Vite / Webpack cache
.vite/
.cache/

# Editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional lockfiles (depending on your setup)
# package-lock.json
# yarn.lock

frontend/node_modules/.cache/default-development/1.pack
