.sidemenu {
  width: 150px;
  height: 100vh;
  background-image: url('./SideMenuBG.png');
  background-size: cover;        /* cover the whole sidebar */
  background-position: top left;   /* center the image */
  background-repeat: no-repeat;
  position: fixed;
  left: 0;
  top: 0;
}

.sidemenu-title {
  margin-bottom: 30px;
  font-size: 24px;
}

.sidemenu-list {
  list-style: none;
  padding: 0;
}

.sidemenu-list li {
  margin: 15px 0;
}

.sidemenu-list a {
  color: black;
  display: inline-block;
  padding: 6px 15px;
  padding-right: 20px;
  font-size: 15px;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 15px;
  /*padding-left: 20px;*/
}

.sidemenu-list a:hover {
  color: white;
  background-color: #CE892C; /*1A2A49 - navy blue*/ /*#CE892C - orange*/
}