.feedback-maindiv {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.feedback-item {
    display: flex;
    flex-direction: row;
    width: 200px;
    min-height: 30vh;
}

.feedback-container {
    background: linear-gradient(180deg, #ce892c, #1a2a49);
    padding: 2px;
    border-radius: 12px;
    width: 200px;;
}

.feedback-contents {
    background: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: Poppins, sans-serif;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.no-feedback-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat, sans-serif;
    text-align: center;
    padding: 15px;
    margin: 20px;
    justify-content: center;
}