.event-form-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  font-family: Monteserrat, sans-serif;
}

.event-form-header {
  background-color: #CE892C;
  font-size: 10px;
  font-family: Monteserrat, sans-serif;
  color: white;
  padding: 3px;
  border-radius: 5px;
  text-align: center;
}

h4, p {
    font-size: 18px;
    font-family: inherit;
    margin: 0px
}

.event-form-title {
  margin-bottom: 15px;
}

p {
    color: #EF5C5C;
    font-size: 10px;
}

.event-form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.event-forms {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.event-form-container label > input {
  margin-left: 10px;
}

.event-form-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.event-duration-inputs {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Monteserrat, sans-serif;
}

.event-form-container button {
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  max-width: fit-content;
}

.event-form-container button[type="submit"] {
  background-color: #33854B;
  color: white;
}

.event-form-container button[type="button"] {
  background-color: lightgray;
}

.lower-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}