@media (max-width: 1272px) {
  .specific-event-container {
      margin-top: 0px;
  }

}

@media (min-width: 1273px) {
  .specific-event-container {
      margin-top: 125px;
  }

}

.specific-event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100vw;
  margin-bottom: 0px;
}

.event-header {
  justify-content: center;
  margin: 20px;
  margin-bottom: 0px;
  width: 55vw;
  height: 10vh;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  background: linear-gradient(to left, #1A2A49, #A96B24);
  border: 1px solid #ccc;
  border-radius: 10px 10px 0px 0px;
  color: white;
  padding: 10px 20px;
}

.event-details {
  display: flex;
  flex-direction: row;
  gap: 120px;
  width: 55vw;
  height: 15vh;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 0px 0px 10px 10px;
  padding: 5px 20px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
}

p {
  color: black;
  font-size: 13px;
}

.event-specifics {
  display: flex;
  flex-direction: row;
  gap: 10vh;
  margin-top: 50px;

}

.event-specifics button {
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 150px;
  height: 190px;
}

.event-specifics .btn-game {
  background-color: #A96B24;
}

.event-specifics .btn-team {
  background-color: #1A2A49
}

.event-specifics .btn-score {
  background-color: #800000;
}

.event-specifics .btn-feedback {
  background-color: #2E8B57;
}

.organizer-box, .date-box, .location-box {
  min-width: 150px;
  text-align: center;
}

.btn-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 50px
}

.btn-content svg {
  margin-bottom: 8px;
}

@media (min-width: 1600px) {
  .event-header {
    height: 12vh;
    font-size: 20px;
  }
  .event-specifics button {
    width: 10vw;
    height: 25vh;
    font-size: 18px;
  }

  .organizer-box > h3, .date-box > h3, .location-box > h3 {
    font-size: 20px;
    text-transform: uppercase;
  }

  .organizer-box > p, .date-box > p, .location-box > p {
    font-size: 16px;
    text-transform: uppercase;
  }

}

@media (max-width: 1023px) {
  .specific-event-container {
    width: 100%;
    margin: 0 auto;

  }

  .event-header, .event-details {
    width: 75vw;
  }

  .event-specifics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60vw;
    gap: 5vh;
  }

  .event-details {
    gap: 1vw;
  }
}