.event-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Monteserrat, sans-serif;
}

.event-form-header {
  background-color: #CE892C;
  font-size: 10px;
  font-family: Monteserrat, sans-serif;
  color: white;
  padding: 3px;
  border-radius: 5px;
  text-align: center;
}

h4, p {
    margin: 0px;
}

p {
    color: #EF5C5C;
    font-size: 10px;
}

.event-form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.event-form-container label {
  margin-bottom: 10px;
}

.event-form-container label > input {
  margin-left: 10px;
}

.event-form-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.event-form-container button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: fit-content;
}

.event-form-container button[type="submit"] {
  background-color: navy;
  color: white;
}

.event-form-container button[type="button"] {
  background-color: lightgray;
}