.header {
  height: 10.6vh;
  background-color: #a3620c;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  left: 200px;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: poppins, sans-serif;
}

@media (min-width: 1600px) {
  .header {
    height: 10.8vh;
    

  }
}

@media (max-width: 1599px) {
  .header {
    height: 14vh;
    left: 12vw; 
  }
}