.live-scores-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.live-scores-content {
  margin-left: 170px;
  margin-top: 95px;
  padding: 20px;
  min-height: calc(100vh - 60px);
  background-color: #f8f9fa;
  box-sizing: border-box;
}

.no-matches-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat, sans-serif;
  text-align: center;
  padding: 15px;
  margin: 20px;
}