.main-content {
  margin-left: 200px; /* Pushes content to the right of sidebar */
  margin-top: 15vh;
  padding: 0 20px 0 20px;
  min-height: calc(100vh - 15vh);
  box-sizing: border-box;
  height: fit-content;
}

@media (max-width: 1270px) {
  .main-content {
    margin-left: 5rem;
    margin-top: 10vh;
    padding: 0 10px 0 10px;
  }
}