.main-content {
  margin-left: 200px; /* Pushes content to the right of sidebar */
  margin-top: 125px;
  padding: 0 20px 0 20px;
  min-height: calc(100vh - 95px);
  background-color: #f8f9fa;
  box-sizing: border-box;
  height: fit-content;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 50px;;
    margin-top: 100px;
    padding: 0 10px 0 10px;
  }
}