.service-page-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 10px;
    padding: 24px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    
}

h2 {
    font-family: Monteserrat, Sans-serif;
    margin: 0;
}

p, .instructions-list, .service-form-group {
    font-family: Arial, Sans-serif;
    line-height: 1.5;
}

.instructions-section, .form-section {
    margin: 5px;
    padding: 25px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.instructions-section {
    border: 2px solid #ce892c;
}

.form-section {
    border: 2px solid #1a2a49;
}

.service-form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.service-form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.service-form-group input {
    padding: 5px;
    border: 2px solid #181b59;
    border-radius: 8px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.submit-btn {
    display: block;
    margin: 5px auto;
    background-color: #1a2a49;
    color: #fff;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.submit-btn:hover {
    background-color: #ce892c;
}

.instructions-section::-webkit-scrollbar {
  width: 0px;
}

.instructions-section::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 8px;
}

.instructions-section::-webkit-scrollbar-thumb {
  background: #b6c2d9;
  border-radius: 8px;
}

.instructions-section::-webkit-scrollbar-thumb:hover {
  background: #94a3c0;
}

@media (min-width: 1024px) and  (max-width: 1600px) {

    .instructions-section, .form-section {
        min-width: 20vw;
        width: 80%;
        max-width: 30vw;
        box-sizing: border-box;
        flex: 1 1 480px;
        height: 550px;
        overflow-y: auto;
    }

}

@media (max-width: 1023px) {

    .service-page-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .instructions-section, .form-section {
        width: 90%;
        max-width: 600px;
        box-sizing: border-box;
        height: auto;
        overflow: visible;
        margin-bottom: 20px;
    }
    
}